{% extends "common/base.html" %}
{% block content %}
<div class="container">
    <!-- 内容头部 -->
    <section class="content-header">
      <h1>
        应用列表
        <small>所有应用信息</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/">首 页</a></li>
        <li class="active">应用列表</li>
      </ol>
    </section>

    <!-- 内容主体 -->
    <section class="content">
      <!-- 主体 -->
      <div class="box box-default">
        <div class="box-body">
          <div id="myTabContent" class="tab-content">
                <div class="active in" id="one">
                    <div class="widget-body no-padding">
                        <div id="toolbar" class="toolbar">
                          {{ build_toolbar("refresh", "add") }}
                        </div>
                        <table id="table" class="table table-striped table-bordered table-hover" width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </section>
  </div>
{% endblock %}